name: Spring Boot Config Validation

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  run-centralized-build:
    # Replace with your actual org/repo path to the master template
    uses: Bhuvaneshwaran-17/central-devops-tooling/.github/workflows/java-build-template.yml@main
    with:
      project_name: "Spring-Boot-App-Config-Check"
      java-version: "17"
      # We chain the standard compile and the config validation here
      build_command: "mvn clean compile spring-boot:run -Dspring-boot.run.arguments='--spring.main.web-application-type=none'"
    secrets:
      WEBHOOK_URL: ${{ secrets.TEAMS_WEBHOOK_URL }}